@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.card {
  margin: auto;
  width: 28rem;
  height: 40em;
  border-radius: 5%;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.row {
  height: 33%;
}

.suitbox1 {
  position: relative;
}
.suitbox2 {
  position: relative;
}

p {
  font-size: 150px;
}
.bignum {
  font-size: 200px;
}
.heart {
  color: red;
}
.spade {
  color: black;
}
.diamond {
  color: red;
}
.club {
  color: black;
}
